body {
  margin:  2rem auto;
  font-family:Arial, sans-serif;
}

h1 {
  margin:  2rem auto;
  text-align: center;
}

.tg  {
  width: 50%;
  margin: 0 auto;
  font-size:14px;
  padding:10px 5px;
  border-collapse:collapse;
}

.head{
  padding:10px 5px;
  font-weight:bold;
  background-color:#009901;
  color:#ffffff;
  text-align:center;
  vertical-align:middle
}

th, td {
  width: 15%;
}

th:first-child, td:first-child  {
   width: 30%;
}

td {
  border: solid 1px green;
  padding:10px 5px;
}